body {
    margin: 3%;
    background-color: antiquewhite;
}
input {
    background-color:bisque;
    border-radius: 5px;
    width: 15%;
}
h1 {
    padding: 10px 0;
    color: #1f1300;
}
.submit {
    transition-duration: 0.4s;
    border: 2px solid #4CAF50;
    padding: 3px 7px ;
}
.submit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    
}